{% spaceless %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if proxy_mode %}
      <link href="{{ 'above.css' | asset_url }}" rel="stylesheet">
    {% else %}
      <style type="text/css">{% include 'css_above' %}</style>
    {% endif %}
  </head>

  <body>
    <main>

      {% assign component = story.content.component %}
      {% include component with blok: story.content, title: story.name, date: story.created_at %}

    </main>

    {% if proxy_mode %}
      <script defer type="text/javascript" src="{{ 'bundle.js' | asset_url }}"></script>
    {% else %}
      <script defer type="text/javascript" src="{{ 'bundle.min.js' | asset_url }}"></script>
    {% endif %}

    {% include 'tools/storyblok_bridge' %}
  </body>
</html>
{% endspaceless %}